.transaction {
    width: 100%;

    overflow: hidden;

    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: -2px -2px 7px rgba(70, 70, 70, 0.3),
      2px 2px 7px rgba(70, 70, 70, 0.3);
}

table {
   border-spacing: 0px;

   font-size: 14px;
   line-height: 22px;
}

thead {
    background-color: #38f2ff;
}

tbody td:first-child {
    padding-left: 10px;
}

tbody td:not(:first-child) {
    text-align: center;
}
